[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/peter/dmenuscripts]
row=2
col=8

[/home/peter/Videos]
row=7
col=0

[/home/peter/gruvbox]
row=6
col=10

[/home/peter/selected]
row=3
col=4

[/home/peter/Birthdays_addressbook#contacts@group.v.calendar.google.com.ics]
row=3
col=5

[/home/peter/debug]
row=4
col=7

[/home/peter/nvim]
row=2
col=9

[/home/peter/macros]
row=0
col=6

[/home/peter/clock.sh]
row=6
col=4

[/home/peter/setbg]
row=8
col=1

[/home/peter/Downloads]
row=5
col=0

[/home/peter/Public]
row=3
col=0

[/home/peter/dwm_config.def.h]
row=0
col=1

[/home/peter/Family_d7isqnbeekqt42a5rsj99fjcos@group.calendar.google.com.ics]
row=4
col=5

[/home/peter/passff]
row=3
col=10

[/home/peter/st-0.8.3]
row=7
col=9

[/home/peter/ibus-uniemoji]
row=3
col=8

[/home/peter/snap]
row=6
col=3

[/home/peter/pkruskopfs.gpg]
row=0
col=7

[/home/peter/dmenu-5.0]
row=6
col=8

[/home/peter/volume]
row=10
col=0

[/home/peter/VirtualBox VMs]
row=5
col=9

[/home/peter/mortgagerefi]
row=6
col=9

[/home/peter/battery]
row=10
col=7

[/home/peter/journal]
row=4
col=1

[/home/peter/mkchromecast]
row=3
col=9

[/home/peter/slock]
row=10
col=1

[/home/peter/pkruskopfs@gmail.com.ics]
row=5
col=5

[/home/peter/Pictures]
row=8
col=0

[/home/peter/backup.sh]
row=4
col=8

[/home/peter/mutt-colors-solarized-master]
row=9
col=9

[/home/peter/surf]
row=10
col=9

[/home/peter/]
row=10
col=5

[/home/peter/Music]
row=9
col=0

[/home/peter/Screen Shot 2021-07-13 at 4.15.25 PM.png]
row=2
col=10

[/home/peter/volume.sh]
row=6
col=1

[/home/peter/tempfile]
row=1
col=1

[/home/peter/dwm-6.2]
row=5
col=1

[/home/peter/forecast]
row=0
col=8

[/home/peter/testscript]
row=1
col=5

[/home/peter/VTmortgagerefi]
row=7
col=10

[/home/peter/emojis]
row=4
col=6

[/home/peter/refbar]
row=0
col=3

[/home/peter/checkupdate]
row=9
col=7

[/home/peter/cpu]
row=3
col=7

[/home/peter/documents]
row=4
col=9

[/home/peter/surf-2.1.tar.gz]
row=8
col=4

[/home/peter/Abook-Contact-Importer]
row=4
col=10

[/home/peter/file]
row=5
col=2

[/home/peter/ebooks]
row=3
col=1

[/home/peter/voidrice]
row=5
col=8

[/home/peter/config.def.h]
row=7
col=2

[/home/peter/Calibre Library]
row=8
col=10

[/home/peter/PycharmProjects]
row=9
col=10

[/home/peter/extdrive]
row=5
col=4

[/home/peter/dwmpatches]
row=10
col=10

[/home/peter/hfsplus]
row=0
col=11

[/home/peter/wallpapers]
row=2
col=5

[/home/peter/dwmstatus]
row=1
col=9

[/home/peter/xaa]
row=7
col=4

[/home/peter/cfg]
row=10
col=8

[/home/peter/ranger_devicons]
row=9
col=8

[/home/peter/mailbox]
row=8
col=6

[/home/peter/nerd-fonts]
row=8
col=8

[/home/peter/dotfiles]
row=7
col=8

[/home/peter/netspeed.sh]
row=5
col=7

[/home/peter/dmenu-5.0.tar.gz]
row=0
col=4

[/home/peter/dwm-6.2.tar.gz]
row=9
col=5

[/home/peter/unicode]
row=7
col=7

[/home/peter/keymappings]
row=10
col=4

[/home/peter/Templates]
row=4
col=0

[/home/peter/st-0.8.3.tar.gz]
row=8
col=5

[/home/peter/config.h]
row=6
col=2

[/home/peter/volchange.sh]
row=7
col=6

[/home/peter/dwm-bar]
row=0
col=9

[/home/peter/mutt-colors-solarized-master.zip]
row=2
col=7

[/home/peter/cpu.sh]
row=8
col=2

[/home/peter/memory.sh]
row=0
col=2

[/home/peter/file.gpg]
row=4
col=2

[/home/peter/dwm-flexipatch]
row=2
col=1

[/home/peter/internet.sh]
row=2
col=2

[/home/peter/Desktop]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/peter]
row=2
col=0

