[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/peter/dmenuscripts]
row=2
col=8

[/home/peter/Thank you for your purchase! - Peloton Apparel US - Checkout.pdf]
row=6
col=6

[/home/peter/Videos]
row=7
col=0

[/home/peter/2021-12-23-17-11-06.056-VBoxSVC-20142.log]
row=5
col=1

[/home/peter/W8MMMM-MMM.jpg]
row=9
col=3

[/home/peter/gruvbox]
row=8
col=10

[/home/peter/selected]
row=3
col=4

[/home/peter/Birthdays_addressbook#contacts@group.v.calendar.google.com.ics]
row=5
col=5

[/home/peter/debug]
row=3
col=7

[/home/peter/setbg]
row=9
col=1

[/home/peter/macros]
row=0
col=6

[/home/peter/clock.sh]
row=8
col=4

[/home/peter/YTVetSept2021.pdf]
row=7
col=3

[/home/peter/Downloads]
row=5
col=0

[/home/peter/101-0118_IMG.JPG]
row=8
col=3

[/home/peter/Public]
row=3
col=0

[/home/peter/Family_d7isqnbeekqt42a5rsj99fjcos@group.calendar.google.com.ics]
row=6
col=5

[/home/peter/output.mkv]
row=0
col=5

[/home/peter/surf]
row=0
col=10

[/home/peter/snap]
row=5
col=3

[/home/peter/APScorestoUVM.pdf]
row=5
col=7

[/home/peter/pkruskopfs.gpg]
row=10
col=6

[/home/peter/ibus-uniemoji]
row=3
col=8

[/home/peter/volume]
row=10
col=0

[/home/peter/nvim]
row=0
col=8

[/home/peter/Stephen Hunter - Bob Lee Swagger 01 Point of Impact (retail).epub]
row=7
col=7

[/home/peter/battery]
row=9
col=7

[/home/peter/manjaro-xfce-21.0.5-210519-linux510.iso]
row=3
col=1

[/home/peter/mkchromecast]
row=3
col=9

[/home/peter/slock]
row=0
col=2

[/home/peter/passff]
row=2
col=9

[/home/peter/Newshosting.com | Sign Up to Newshosting - Thank You.pdf]
row=8
col=5

[/home/peter/pkruskopfs@gmail.com.ics]
row=7
col=5

[/home/peter/out2.tif]
row=4
col=3

[/home/peter/Pictures]
row=8
col=0

[/home/peter/Friends and Family.docx]
row=2
col=10

[/home/peter/LawnDr110121.pdf]
row=10
col=2

[/home/peter/2021-05-26-02-11-04.067-VBoxSVC-394951.log]
row=10
col=1

[/home/peter/log]
row=8
col=6

[/home/peter/]
row=10
col=5

[/home/peter/Music]
row=9
col=0

[/home/peter/CurryCrostrek102621.pdf]
row=4
col=4

[/home/peter/dmenu-5.0]
row=6
col=8

[/home/peter/volume.sh]
row=7
col=1

[/home/peter/Abook-Contact-Importer]
row=6
col=10

[/home/peter/st-0.8.3]
row=0
col=11

[/home/peter/mortgagerefi]
row=6
col=9

[/home/peter/dwm-6.2]
row=7
col=9

[/home/peter/backup.sh]
row=4
col=8

[/home/peter/testscript]
row=3
col=5

[/home/peter/forecast]
row=10
col=7

[/home/peter/mutt-colors-solarized-master.zip]
row=1
col=7

[/home/peter/emojis]
row=4
col=6

[/home/peter/refbar]
row=6
col=1

[/home/peter/surf-2.1.tar.gz]
row=10
col=4

[/home/peter/APCollegeBoard.pdf]
row=0
col=3

[/home/peter/HomeDepotpmt121421.pdf]
row=5
col=6

[/home/peter/memorialservice]
row=0
col=7

[/home/peter/cpu]
row=2
col=7

[/home/peter/checkupdate]
row=8
col=7

[/home/peter/iso]
row=1
col=10

[/home/peter/documents]
row=4
col=9

[/home/peter/file]
row=5
col=2

[/home/peter/wifi.sh]
row=9
col=6

[/home/peter/Screen Shot 2021-07-13 at 4.15.25 PM.png]
row=3
col=10

[/home/peter/config.def.h]
row=7
col=2

[/home/peter/voidrice]
row=5
col=8

[/home/peter/Calibre Library]
row=9
col=9

[/home/peter/hfsplus]
row=5
col=10

[/home/peter/PycharmProjects]
row=9
col=10

[/home/peter/UVMRoomChargePmt111921.pdf]
row=8
col=1

[/home/peter/extdrive]
row=7
col=4

[/home/peter/dwmpatches]
row=4
col=10

[/home/peter/VirtualBox VMs]
row=5
col=9

[/home/peter/Documents]
row=1
col=8

[/home/peter/YTVetSept2021.tif]
row=2
col=4

[/home/peter/wallpapers]
row=4
col=5

[/home/peter/xaa]
row=9
col=4

[/home/peter/dwmstatus]
row=1
col=9

[/home/peter/st-0.8.3.tar.gz.1]
row=10
col=10

[/home/peter/cfg]
row=10
col=8

[/home/peter/VTmortgagerefi]
row=8
col=9

[/home/peter/ranger_devicons]
row=9
col=8

[/home/peter/mailbox]
row=7
col=6

[/home/peter/out1.tif]
row=3
col=2

[/home/peter/notes.pdf]
row=1
col=3

[/home/peter/Invoice (No. 10009) from Yorktown Alarm and Lock Co., Inc..pdf]
row=7
col=10

[/home/peter/pmidecmtg]
row=10
col=3

[/home/peter/nerd-fonts]
row=8
col=8

[/home/peter/netspeed.sh]
row=4
col=7

[/home/peter/dotfiles]
row=7
col=8

[/home/peter/mutt-colors-solarized-master]
row=10
col=9

[/home/peter/BurlingtonParkingTicket090821.pdf]
row=1
col=1

[/home/peter/dmenu-5.0.tar.gz]
row=0
col=4

[/home/peter/dwm-6.2.tar.gz]
row=6
col=4

[/home/peter/My Payment Center - Print Receipt.pdf]
row=3
col=3

[/home/peter/keymappings]
row=1
col=5

[/home/peter/2021-10-11-05-42-22.083-VBoxSVC-26829.log]
row=2
col=6

[/home/peter/2021-06-27-14-40-10.059-VBoxSVC-294109.log]
row=1
col=4

[/home/peter/PenFedMortgagePayoff.pdf]
row=0
col=1

[/home/peter/config.h]
row=6
col=2

[/home/peter/out3.tif]
row=2
col=3

[/home/peter/test.html]
row=2
col=1

[/home/peter/volchange.sh]
row=2
col=5

[/home/peter/Templates]
row=4
col=0

[/home/peter/st-0.8.3.tar.gz]
row=5
col=4

[/home/peter/librarybooks]
row=1
col=6

[/home/peter/cpu.sh]
row=8
col=2

[/home/peter/larbs.sh]
row=9
col=5

[/home/peter/dwm-bar]
row=0
col=9

[/home/peter/memory.sh]
row=1
col=2

[/home/peter/unicode]
row=6
col=7

[/home/peter/2021-05-21-02-23-56.089-VBoxSVC-57233.log]
row=4
col=1

[/home/peter/CrostrekNYSInspection102621.tif]
row=9
col=2

[/home/peter/st]
row=6
col=3

[/home/peter/file.gpg]
row=4
col=2

[/home/peter/Desktop]
row=6
col=0

[/home/peter/internet.sh]
row=2
col=2

[/home/peter/2021-10-09-16-06-30.092-VBoxSVC-120259.log]
row=3
col=6

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/peter]
row=2
col=0

